<a href="https://colab.research.google.com/github/leofalcao/Jornada_Python/blob/main/Google_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Primeiro Código***

In [ ]:
print('hello mundo!')

hello mundo!

**Criando Comentário**

In [ ]:
#Aprendendo Python

***Tipos de dados***

In [ ]:
nome='leonardo'
sobrenome='falcão'
print(nome+' '+sobrenome)

leonardo falcão

In [ ]:
nome='leonardo'
sobrenome='falcão'
altura=1,75
peso=70
print(nome.capitalize()+' '+sobrenome.capitalize())

Leonardo Falcão

In [ ]:
nome='leonardo'
sobrenome='falcão'
idade=35
altura=1,75
peso=70
print(f'meu nome é {nome} {sobrenome.capitalize()}, tenho {idade} anos e meço {altura} m')

meu nome é leonardo Falcão, tenho 35 anos e meço (1, 75) m

 ***Strinhs em Python***

In [ ]:
nome = 'Guido'
sobrenome = 'Von Rossun'
nome_completo=nome+' '+sobrenome
print(nome_completo.upper())

GUIDO VON ROSSUN

In [ ]:
nome = 'Guido'
sobrenome = 'Von Rossun'
nome_completo=nome+' '+sobrenome
print(nome_completo.lower())

guido von rossun

In [ ]:
nome = 'Guido'
sobrenome = 'Von Rossun'
nome_completo=nome+' '+sobrenome
print(nome_completo +' '+'é o criador da linguagem de programação python')

Guido Von Rossun é o criador da linguagem de programação python

In [ ]:
nome = 'Guido'
sobrenome = 'Von Rossun'
nome_completo=nome+' '+sobrenome
print(nome_completo +'é o criador da \nlinguagem de programação python')

Guido Von Rossuné o criador da
linguagem de programação python

In [ ]:
nome = 'Guido'
sobrenome = 'Von Rossun'
nome_completo=nome+' '+sobrenome
print('\t'+nome_completo +'é o criador da \nlinguagem de programação python')

	Guido Von Rossuné o criador da
linguagem de programação python

In [ ]:
mês=str('janeiro')
print(mês)

janeiro

***Formatação de strings com Formar***

In [ ]:
nome='Jõao'
sobrenome='Oliveira'
idade=40
print('Meu nome é {} {} e tenho {} anos'.format(nome,sobrenome,idade))

Meu nome é Jõao Oliveira e tenho 40 anos

In [ ]:
valor = 547.58
print('O valor é {}'.format(valor))

O valor é 547.58

In [ ]:
valor = 547.58
print('O valor é {valor:.1f}'.format(valor=valor))

O valor é 547.6

 ***Formatação de Strings com F-strings***

In [ ]:
titulo='monitor gamer'
Polegadas=34
print(f'Nome do Produto: {titulo} e tamanho: {Polegadas}polegadas')

Nome do Produto: monitor gamer e tamanho: 34polegadas

In [ ]:
titulo='monitor gamer'
Polegadas=34
preço=1299.99
print(
    f'Produto: {titulo.upper()}\n'
    f'tamanho: {Polegadas} polegadas\n'
    f'Preço: R${preço}'
)

Produto: MONITOR GAMER
tamanho: 34 polegadas
Preço: R$1299.99

In [ ]:
titulo='monitor gamer'
Polegadas= 34
preço= 1299.99
print(
    f'Produto: {titulo.upper():*^50}\n'
    f'tamanho: {Polegadas} polegadas\n'
    f'preço: R$ {preço}'
)

Produto: ******************MONITOR GAMER*******************
tamanho: 34 polegadas
preço: R$ 1299.99

In [ ]:
titulo='monitor gamer'
Polegadas= 34
preço= 1299.99
print(
    f'Produto: {titulo.upper():&^50}\n'
    f'tamanho: {Polegadas} polegadas\n'
    f'preço: R$ {preço}'
)

Produto: &&&&&&&&&&&&&&&&&&MONITOR GAMER&&&&&&&&&&&&&&&&&&&
tamanho: 34 polegadas
preço: R$ 1299.99

 ***Método de Strings***

In [ ]:
# .Strip - Elimina os espaços em branco
# .upper - Transforma todos os caracteres em maiusculo
# .lower - Transforma todos os caracteres em maiusculo
# .replace - Substitui os carcteres 
# .count - Contar o numero de ocorrências do "caracter"
# .Center - centralizar o texto
# .index - A posição da ocorrencia
# .insumeric - Pega string testando se todos os caracteres são numerico
# .split - Quebra a string em determinado caracter 
# .title - Pega o primeiro caracter de cada palavra e torna maiusculo
# .capitalize - Pega apenas o primeiro caracter e torna maiusculo
# .zfill - completar com zero a esquerda as strings numericas

print('  t;ex;t;o   '.strip().replace(';','').center(25, '*').upper())

**********TEXTO**********

In [ ]:
# Tamanho de uma string

String_extensa= "Essa é um string extensa. Como faremos"\
               "Para saber seu tamanho?"

print(len(String_extensa))

61

***Indice de String***

In [ ]:
nome='Python'
print(nome[-1])

n

In [ ]:
texto=('Meu nome é Leonardo Falcão Lima.')
print(texto[-1]=='.')

True

 ***Conversão de tipos***

In [ ]:
idade=35

texto=(f'Parabnes leonardo, pelos seus' + str(idade) + 'de idade')
print(texto)

Parabnes leonardo, pelos seus35de idade

In [ ]:
pontuacao_str = '10'
pontuacao_int = int(pontuacao_str)

print(pontuacao_str)
print(f'tipo: {type(pontuacao_int)}')

10
tipo: <class 'int'>

In [ ]:
pontuacao_str = '5.5'
pontuacao_float = float(pontuacao_str)

print(pontuacao_float)
print(f'tipo: {type(pontuacao_float)}')

5.5
tipo: <class 'float'>

 ***Tratamento de Tipos numéricos***

In [ ]:
round(5.4)

5

In [ ]:
round(7.3)

7

In [ ]:
round(6.345,2)

6.34

 ***Import e módulo Math***

In [ ]:
import math
math.ceil(2.4)

3

In [ ]:
math.ceil(6.9)

7

In [ ]:
math.floor(5.999)

5

 ***Input***

In [ ]:
nome=input('Qual é o seu nome?')
print(nome)

Qual é o seu nome?Léo
Léo

In [ ]:
numero = input('Digite um numero: ')
expoente = input('Digite um expoent: ')

resultado = int(numero) ** int(expoente)

print(f'O resultado de {numero} elevado á {expoente} é {resultado}')

Digite um numero: 2
Digite um expoent: 2
O resultado de 2 elevado á 2 é 4

In [ ]:
nome = input('Qual é o seu nome? ')
idade = input('Qual é a sua idade? ')
altura = input('Qual é a sua altura? ')

print('Os dados inseridos foram: ')
print(
    f'\tNome: {nome}\n'
    f'\tIdade: {idade} anos\n'
    f'\tAltura: {float(altura):.2f}'
)

Qual é o seu nome? leo
Qual é a sua idade? 34
Qual é a sua altura? 1.75
Os dados inseridos foram:
	Nome: leo
	Idade: 34 anos
	Altura: 1.75

 ***Construindo uma calculadora***

In [ ]:
numero_1 = input('Digite o primeiro numero: ')
numero_2 = input('Digite o segnudo numero: ')

print('Digite a aperação:\n\t+ para Adição\n\t- para subtração\n\t* para multiplicação\n\t/ para Divisão')

operacao = input('Digite a operação: ')

equacao = f'{numero_1} {operacao} {numero_2}'

resultado = eval(equacao)

print(f'Resultado: {resultado}')

Digite o primeiro numero: 10
Digite o segnudo numero: 15
Digite a aperação:
	+ para Adição
	- para subtração
	* para multiplicação
	/ para Divisão
Digite a operação: *
Resultado: 150

In [ ]:
numero_1 = input('Digite o primeiro numero: ')
numero_2 = input('Digite o segnudo numero: ')

print('Digite a aperação:\n\t+ para Adição\n\t- para subtração\n\t* para multiplicação\n\t/ para Divisão')

operacao = input('Digite a operação: ')

equacao = f'{numero_1} {operacao} {numero_2}'

resultado = eval(equacao)

print(f'{"*" * 25}Resultado: {resultado}\n{"*" * 25}')

Digite o primeiro numero: 10
Digite o segnudo numero: 5
Digite a aperação:
	+ para Adição
	- para subtração
	* para multiplicação
	/ para Divisão
Digite a operação: *
*************************Resultado: 50
*************************

 ***Estruturas Condicionais***

In [ ]:
idade = input('Digite a sua idade: ')
sexo = input('Digite seu sexo "M" para Masculino e "F" para feminino: ')

if sexo.upper() == 'M':
  # Código para sexo Masculino

  if int(idade) >= 65:
    print('Parabéns: sua aposentadoria será concedida!')

  else:
    print(f'Sua vez ainda não chegou! Aguarde mais {65 - int(idade)} anos.')

elif sexo.upper() == 'F':
    # Código para o Sexo Feminino
    if int(idade)>= 60:
       print('Parabéns! Sua aposentdadoria será concedida!')

    else:
        print(f'Sua vez ainda não chegou! Aguarde mais {60 - int(idade)} anos.')

Digite a sua idade: 30
Digite seu sexo "M" para Masculino e "F" para feminino: f
Sua vez ainda não chegou! Aguarde mais 30 anos.

 ***Operadores Lógicos***

In [ ]:
x = True
y = True

print('***IS***')
print(x is y)
print(True is False)

***IS***
True
False

In [ ]:
print('\n*** AND ***')
print(False and False)
print(False and True)
print(True and False)
print(True and True)

*** AND ***
False
False
False
True

In [ ]:
print('\n*** OR ***')
print(False or False)
print(False or True)
print(True or False)
print(True or True)

*** OR ***
False
True
True
True

In [ ]:
print('\n*** not ***')
print(not True)
print(not False)

*** not ***
False
True

In [ ]:
print('\n****OPERADORES DE COMPARAÇÃO')

x = 10
y = 20

# ==

print(f'{x} == {y}: {x==y}')

# !=

print(f'{x} != {y}: {x!=y}')

# >

print(f'{x} > {y}: {x > y}')

# >= 

print(f'{x} >= {y}: {x >= y}')

****OPERADORES DE COMPARAÇÃO
10 == 20: False
10 != 20: True
10 > 20: False
10 >= 20: False

In [ ]:
print('\n**** OPERADORES DE ATRIBUIÇÃO ***')

x = 100

print(f'Valor inicial de x = {x}')

# +=

x += 10

print(f'x += 10 = {x}\t(Equivalente: x = x + 10)')

# -=

x -= 5

print(f'x -= 10 = {x}\t(Equivalente: x = x - 5)')

x /= 5

print(f'x /= 5 = {x}\t(Equivalente: x = x / 5)')

x *= 5

print(f'x *= 5 = {x}\t(Equivalente: x = x * 5)')

x //= 20

print(f'x //= 20 = {x}\t(Equivalente: x = x // 20)')

x %= 3

print(f'x %= 3 = {x}\t(Equivalente: x = x % 20)')

**** OPERADORES DE ATRIBUIÇÃO ***
Valor inicial de x = 100
x += 10 = 110	(Equivalente: x = x + 10)
x -= 10 = 105	(Equivalente: x = x - 5)
x /= 5 = 21.0	(Equivalente: x = x / 5)
x *= 5 = 105.0	(Equivalente: x = x * 5)
x //= 20 = 5.0	(Equivalente: x = x // 20)
x %= 3 = 2.0	(Equivalente: x = x % 20)

 **Estrutura de repetição for**

In [ ]:
# For: Sintaxe basica

sequencia = [1, 2, 3, 4, 5]

for elemento in sequencia:
  print(f'{elemento}')

1
2
3
4
5

In [ ]:
# range


for i in range(0, 30, 2):
  print(f'O valor de i é: {i}')

O valor de i é: 0
O valor de i é: 2
O valor de i é: 4
O valor de i é: 6
O valor de i é: 8
O valor de i é: 10
O valor de i é: 12
O valor de i é: 14
O valor de i é: 16
O valor de i é: 18
O valor de i é: 20
O valor de i é: 22
O valor de i é: 24
O valor de i é: 26
O valor de i é: 28

In [ ]:
# Iterando sobre Estrituras de Dados

set_={1,2,3}
tupla=(1,2,3)
lista=[1,2,3]
dicionario = {'a': 1, 'b': 2}

for elemento in set_:
  print(f'[SET] Elemento da set: {elemento}')

for elemento in tupla:
  print(f'[TUPLA] Elemento da tupla: {elemento}')

for elemento in lista:
  print(f'[LISTA] Elemento da lista.itens(): {elemento}')

for elemento in dicionario:
  print(f'[DICT] Elemento do dicionario: {elemento}')

[SET] Elemento da set: 1
[SET] Elemento da set: 2
[SET] Elemento da set: 3
[TUPLA] Elemento da tupla: 1
[TUPLA] Elemento da tupla: 2
[TUPLA] Elemento da tupla: 3
[LISTA] Elemento da lista.itens(): 1
[LISTA] Elemento da lista.itens(): 2
[LISTA] Elemento da lista.itens(): 3
[DICT] Elemento do dicionario: a
[DICT] Elemento do dicionario: b

 ***Estrutura de repetição while***

In [ ]:
from random import randint

CAPACIDADE_MAXIMA_BALDE = 1000

balde = 0

while balde <= CAPACIDADE_MAXIMA_BALDE:
  volume_copo = randint(85, 100)

  print(f'O copo foi enchido com {volume_copo}mls\n')

  balde += volume_copo